%h1 Listing snippets

.row
  =form_tag snippets_path, :method => :get do
    %p.six.columns
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil

#tag_cloud
  -tag_cloud Snippet.tag_counts, %w[s m l] do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class

%table
  %tr
    %th Code
    %th Description
    %th
    %th
    %th

  - @snippets.each do |snippet|
    %tr
      %td= markdown snippet.code
      %td= snippet.description
      %td= link_to 'Show', snippet
      %td= link_to 'Edit', edit_snippet_path(snippet)
      %td= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Snippet', new_snippet_path
